body { 
    font-family: 'NanumSquare', sans-serif;
    color: #212529;
}
/* 회원가입 */
.form-control, .single-line {
    
}
/* 회원가입 종료 */
ul, ol {
    list-style-type: none; /* 모든 ul과 ol 요소에 대해 마커를 제거합니다. */
}

.form-control:not([readonly]):not([disabled]):focus, .single-line:not([readonly]):not([disabled]):focus, .form-control:not([readonly]):not([disabled]):hover, .single-line:not([readonly]):not([disabled]):hover {
    border-color: #777;
    -webkit-box-shadow: 0 1px 5px 0 rgba(69, 90, 100, 0.1);
    box-shadow: 0 1px 5px 0 rgba(69, 90, 100, 0.1);
}

.form-control,
.single-line {
    height: 34px;
    line-height: 1.428571421429;
    background-image: none;
    border: 1px solid #e5e6e7;
    border-radius: 0.2rem;
    color: inherit;
    display: block;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
}

::placeholder {
    color: #CCCCD3 !important; 
}

.btn-blue {
    color: #fff; 
    background-color: #484c7f; 
    border-color: #484c7f; 
}

.btn-blue:hover {
    color: #fff; 
    background-color: #393c63; 
}

.btn-kakao {
    color: #392416;
    background-color: #ffdc00;
    border-color: rgba(0, 0, 0, 0.1);
}

.btn-kakao:hover {
    color: #392416;
    background-color: #e0c200;
    border-color: rgba(0, 0, 0, 0.1);
}

.btn-info:hover, .btn-info.focus {
    color: #fff;
    background-color: #6360b8;
    border-color: #6360b8;
}

.flex-default {
    display: flex;
    justify-content: center;
    align-items: center;
}

#popupContainer {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* 어두운 배경 */
    z-index: 9999;
}

#popup {
    width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    animation: fadeIn 0.5s ease;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
/* tooltip css */
.tooltip-inner {
    background-color: #1a2439;
}
/* flex 시작 */
.flex-direction-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-col {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* side_nav css 시작 */
.nav-item, .nav-item-top {
    list-style-type: none;
}

.nav-item-top a {
    cursor:pointer;
    text-decoration: none;
    font-weight: 700;
}
.nav-item a{
    cursor:pointer;
    text-decoration: none;
    font-weight: 700;
}

.nav-item .hide{
    display:none;
}

.hide {
    display: none;
}
.subMenu {
    display: flex;
    width: 100%;
}

.subMenu:hover {
    color: #FFF;
    transition: color 0.5s;
}

.toggle-submenu {
    color: #A7B1C2;
    font-size: 0.8125rem;
    padding: 10px 10px 10px 10px;
}
.toggle-submenu:hover {
    background-color: #212D46;
}
.toggle-submenu span {
    margin-left: 5px;
}

#side_nav {
    width: 220px; 
    height: 100%;
    background-color: #1A2439;
    transition: all 0.3s ease;
}

.side_nav_sub_li > a {
    color: #A7B1C2;
}

.side_nav_sub_li {
    padding: 5px 0px;
    font-size: 0.8125rem;
}

.collapsed {
    width: auto !important; /* 축소된 너비 */
}

.SubMenuActive > a {
    color: #FFF;
}

/* side_nav 종료 */

/* top_nav 시작 */
.side_nav_min {
    transition: background-color 0.5s ease;
}

.side_nav_min:hover {
    background-color: #18a689 !important;
}

.top_nav_ul, .top_nav_ul > li {
    list-style-type: none;
}

.top_nav_ul_li {
    padding: 1rem 0.625rem;
    cursor: pointer;
}
#dropdownMenu > li {
    font-size: 12px;
    color: #000;
    padding: 5px;
    font-weight: 600;
}

#dropdownMenu {
    position: absolute;
    left: 0;
    text-shadow: none;
    border-radius: 2px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}
/* top_nav 종료 */

/* adm 페이지 css 시작 */
.main_widget01 {
    background-color: #FFF;
    width: 800px;
    height: 150px;
    box-shadow: 0 1px 10px 0 rgba(69, 90, 100, 0.1);
    padding: 10px;
}
.applyBtn {
    border: 1px solid #d2d2d2; 
    padding: 5px 10px; 
    font-size: 11px; 
    background-color: #FFF; 
    border-radius: 5px; 
    font-weight: 600;
}
.applyBtn:hover {
    background-color: #eee !important;
    border: 1px solid #d2d2d2 !important;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.guide_title_box > a:hover,
.notice_title_box > a:hover,
.video_title_box > a:hover {
    text-decoration: none;
    color: #0056b3;
}

.noticeSetBox,
.guideSetBox,
.videoSetBox {
    padding: 10px;
    border-bottom: 1px solid #E7EAEC;
}

.notice_title_box,
.guide_title_box,
.video_title_box {
    display: flex;
    justify-content: space-between;
}

.logoutBtn:hover {
    border: solid 1px #7d92ac;
    background-color: #f5f7fa;
    color: #7d93ad;
}

.hr {
    border: 0;
    border-top: 1px solid rgb(0 0 0 / 32%);
    margin: 0.625rem 0;
}

.hr-text::after {
    flex: 1 1 auto;
    height: 1px;
    background-color: #ddd;
    margin-left: 0.5rem;
    content: ""; /* 선을 그림 */
}

.main_setBtn:hover {
    color: #0056b3;
}

.patientStatus {
    width: 100%; 
    padding: 10px; 
    border-radius: 5px; 
    box-shadow: 0 1px 10px 0 rgba(69, 90, 100, 0.1); 
    background-color: #FFF; 
    border: solid 1px #dee2e6;
}

.patientStatusBtn {
    width: 20%;
    height: 24px;
    border: solid 1px #8294aa;
    background-color: #f5f7fa;
    color: #8294aa;
    border-radius: 5px;
    font-size: 0.7rem;
    margin-left: 10px;
    cursor: pointer;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.patientStatusBtn:hover {
    border: solid 1px #8294aace;
    background-color: #f5f7fa;
    color: #8294aace;
}

.patientStatus_msg:hover {
    text-decoration: none;
    color: #0056b3;
}

/* sms_sends_new.html */

.sec_top_menu {
    text-decoration: none;
    margin: 0 10px;
    height: 50px;
    display: flex;
    align-items: center;
    color: #a7b1c2 !important; 
    font-size: 0.875rem; 
    font-weight: 700;
}

.sec_top_menu_active {
    border-top: 3px solid #706cd5;
    color: #706cd5 !important;
    font-weight: 900;
}

.sec_top_menu:hover {
    text-decoration: none;
    color: #706cd5 !important;
    transition: color 0.5s ease;
}


.whiteBoxHover:hover {
    border: 1px solid #686868 !important;
    color: #686868 !important;
    transition: border 0.5s, color 0.5s;
}

.grayBoxHover:hover {
    background-color: #4e555a !important;
    border-color: #444a50 !important;
    transition: border 0.5s, background-color 0.5s;
}

.purpleBoxHover:hover {
    background-color: #6360b8 !important;
    border-color: #6360b8 !important;
    transition: border 0.5s, background-color 0.5s;
}

.blueBoxHover:hover {
    background-color: #3e4273 !important;
    border-color: #363a66 !important;
    transition: border 0.5s, background-color 0.5s;
}

.yellowBoxHover:hover {
    background-color: #f7a54a !important;
    border-color: #f7a54a !important;
    transition: border 0.5s, background-color 0.5s;
}

.greenBoxHover:hover {
    background-color: #18a689 !important;
    color: #FFF !important;
    transition: color 0.5s, background-color 0.5s;
}


.breadcrumb-item::before {
    display: inline-block;
    color: #6c757d !important;
    content: "｜" !important;
}

/* Hide Calendar Icon In Chrome */
input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}

.top_hr {
    margin-top: 10px;
    margin-bottom: 10px;
    border-top: 1px solid rgba(0, 0, 0, 0.1) !important;
    height: 1px;
    border-width : 1px !important;
}

.searchSubject_active {
    background-color : #000;
    color : #FFF;
    transition: background-color 0.5s, color 0.5s;
}

#searchBtn:hover {
    background-color: #c82333 !important;
    transition: background-color 0.5s;
}

.sms_history_title {
    font-size: 0.8125rem; font-weight: 900; padding: 8px; background-color: #F5F5F6; border: 1px solid #dddddd; display: flex; flex: 1; justify-content: center; align-items: center;
}

.label-hover::after {
    content: ''; /* 가상 요소에 내용 없음 */
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    z-index: 1; /* 다른 콘텐츠 위에 표시되도록 설정 */
}
.cashNumber {
    color: #000;
}

.cashNumber::-webkit-inner-spin-button {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}
.cashNumber:focus {
    outline: none;
}
.cashNumber[type=number] {
    -moz-appearance: textfield;
}
.userTelNumber[type=number] {
    -moz-appearance: textfield;
}

.userTelNumber::-webkit-inner-spin-button {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}

.cash_info tr {
    width: 100%;
}
.cash_info th, .cash_info td {
    color: #000;
    font-weight: 900;
    width: 40%;
    padding: 8px;
    border: 1px solid #e7eaec;
}

.cash_info td {
    color: #000;
    font-weight: 700;
    width: 60%;
}

.noNum[type=number] {
    -moz-appearance: textfield;
}

.noNum::-webkit-inner-spin-button {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}

.cashNumber {
    font-size: 0.75rem;
    font-weight: 900;
}






/* code_group_list.html */
.sortBtn,
.sortBtn02{
    height: 35px; border: 1px solid #484c7f; color: #484c7f; padding: 0 12px; border-radius: 15px; font-size: 0.8125rem; cursor: pointer; font-weight: 800;
    margin: 2px;
}

.sortBtnActive,
.sortBtnActive02 {
    color: #FFF;
    background-color: #484c7f;
    transition: background-color 0.5s, color 0.5s;
}
.commonCodeContent {
    width: 100%;
}
.commonCodeContent th,
.commonCodeContent td {
    font-size: 0.75rem;
    font-weight: 900;
    border: 1px solid #dddddd;
    background-color: #F5F5F6;
    padding: 0.5rem;
    text-align: center;
}

.commonCodeContent td {
    background-color: #FFF;
}

.commonCodeContent th input[type="checkbox"],
.commonCodeContent td input[type="checkbox"] {
    width: 16px;
    height: 16px;
}

.purpleColor {
    color: #706CD5;
}

.whiteBtnHover:hover {
    background-color: #dae0e5 !important;
    border: 1px solid #d2d2d2;
    transition: background-color 0.5s, border 0.5s;
}

/* inputbox 검색기능 */
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    padding: 12px;
    z-index: 1;
    min-height: 90px;
}
.dropdown-content ul {
    list-style-type: none;
    padding: 0;
}
.dropdown-content li {
    cursor: pointer;
}

#searchInput:focus {
    outline: 1px solid #706CD5;
}

.dropdownOption {
    font-size: 12px;
    font-weight: 700;
    padding: 4px;
    text-align: start;
}

.dropdownOption:hover {
    color: #FFF !important;
    background-color: #706CD5 !important;
}
/* inputbox 검색기능 종료 */

/* c3js css */
#chartEx01 .c3-axis-x .tick text {
    font-size: 12px; /* 폰트 크기 조절 */
    font-weight: 900;
}

#chartEx01 .c3-chart-text {
    font-size: 14px; /* 라벨 폰트 크기 조절 */
    font-weight: 900;
}

#pieEx01 .c3-chart-arc text {
    font-size: 14px; /* 라벨 폰트 크기 조절 */
    font-weight: 900;
}

.c3-legend-item {
    display: none;
}

/* matching_list.html */
.slctStbtn {
    padding: 0 10px; height: 34px; border-radius: 15px; font-weight: 700; font-size: 13px; color: #7BDCCE; border: 1px solid #7BDCCE; cursor: pointer;
    text-decoration: none;
}

.slctStbtnSelect {
    background-color: #18a689;
    color: #FFF;
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

/* jstree */
#jstree li {
    font-size: 13px;
    font-weight: 900;
}

/* commission_incentive_list_field2.html */
.mediCategoryBtn {
    height: 35px;
    border: 1px solid #706CD5;
    color: #706CD5;
    padding: 0 12px;
    border-radius: 5px;
    font-size: 0.8125rem;
    cursor: pointer;
    font-weight: 800;
    margin: 2px;
}

.mediCategoryBtnAct {
    color: #FFF;
    background-color: #484c7f;
    transition: background-color 0.5s, color 0.5s;
}

/* product_list.html */

.productCategoryBtn {
    height: 35px;
    border: 1px solid #706CD5;
    color: #706CD5;
    padding: 0 12px;
    border-radius: 5px;
    font-size: 0.8125rem;
    cursor: pointer;
    font-weight: 800;
    margin: 2px;
}

.productCategoryBtnSelect {
    color: #FFF;
    background-color: #706CD5;
}

.productCategoryBtn a {
    text-decoration: none; 
    color: #706CD5;
}

.productCategoryBtnSelect a {
    color: #FFF;
}

/* kakao_user_kakao_list_day.html */
.kakao_sub_menu {
    border: 1px solid #e7eaec; color: #e7eaec; background-color: #FFF; padding: 10px 20px; font-size: 13px; font-weight: 700; text-decoration: none;
}

.kakao_sub_menu_sel {
    border-bottom: none; border-top: 3px solid #6360b7; background-color: #FFF; padding: 10px 20px; font-size: 13px; font-weight: 700; color: #000;
}

/* dialog */
.popup-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
}

.popup-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* 반투명 검정색 배경 */
}

.popup-content {
    background-color: #fff;
    border-radius: 10px;
    z-index: 10;
    width: 100%;
    overflow-y: auto;
}

.close-popup {
    display: block;
}

.popup-container.active {
    display: flex;
}

.popup_top_title {
    font-size: 13px;
    font-weight: 900;
}