$width: 320px;
$max-height-content: 200px;
$max-height-item: 500px;
$font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$position: fixed;
$z-index: 10050;
$item-margin: 0 0 10px 0;
$item-padding: 10px;
$border-radius: 3px;
$progressbar-height: 5px;

$z-index-modal: 10000;
$modal-bg: #000;
$modal-opacity: .3;

$types: (
  // Success style
  'success': (
    'bg': #1c84c6,
    'heading-bg': #1a7bb9,
    'text-color': #fff,
    'progressbar-bg': #1c84c6,
    'progressbar-color': #1a7bb9
  ),

  // Info style
  'info': (
    'bg': #1ab394,
    'heading-bg': #18a689,
    'text-color': #fff,
    'progressbar-bg': #1ab394,
    'progressbar-color': #18a689
  ),

  // Warning style
  'warning': (
    'bg': #f8ac59,
    'heading-bg': #f7a54a,
    'text-color': #fff,
    'progressbar-bg': #f7a54a,
    'progressbar-color': #f44e06
  ),

  // Error style
  'error': (
    'bg': #ED5565,
    'heading-bg': #ec4758,
    'text-color': #fff,
    'progressbar-bg': #ED5565,
    'progressbar-color': #ec4758
  )
);
