
<!DOCTYPE html>
<html lang="kr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="author" content="Codedthemes" />
    <meta name="description" content="">
    <title></title>
    <!-- Favicon icon -->
    <link rel="icon" href="assets/images/favicon.ico" type="image/x-icon">
    <!-- fontawesome icon -->
    <!-- plugins css -->
    <link href="app/demos/main/css/style.css" rel="stylesheet">
    <link href="inspinia/css/bootstrap.css?v=1716528579" rel="stylesheet">
    <link href="inspinia/css/plugins/bootstrapSocial/bootstrap-social.css?v=1716528579" rel="stylesheet">
    <link href="inspinia/css/plugins/datapicker/datepicker3.css?v=1716528579" rel="stylesheet">
    <link href="inspinia/css/plugins/select2/select2.min.css?v=1716528579" rel="stylesheet">
    <link href="inspinia/css/plugins/select2/select2-bootstrap4.min.css?v=1716528579" rel="stylesheet">
    <link href="inspinia/css/plugins/fullcalendar/fullcalendar.css?v=1716528579" rel="stylesheet">
    <link href="inspinia/css/plugins/fullcalendar/fullcalendar.print.css?v=1716528579" rel="stylesheet" media="print">
    <link href="inspinia/css/plugins/slick/slick-theme.css?v=1716528579" rel="stylesheet">
    <link href="inspinia/noticejs/css/animate.css?v=1716528579" rel="stylesheet">
    <link href="inspinia/noticejs/dist/noticejs.css?v=1716528579" rel="stylesheet" />
    <link href="inspinia/css/plugins/iCheck/custom.css?v=1716528579" rel="stylesheet">
    <link href="inspinia/css/plugins/summernote/summernote-bs4.css?v=1716528579" rel="stylesheet">
    <link href="inspinia/css/plugins/bootstrap-tagsinput/bootstrap-tagsinput.css?v=1716528579" rel="stylesheet">
    <link href="inspinia/css/plugins/sweetalert/sweetalert.css?v=1716528579" rel="stylesheet">
    <link href="plugin/fullcalendar/lib/main.css?v=1716528579" rel="stylesheet">
    <link href="plugin/jQuerySwwetAlert/dist/sweetalert2.css?v=1716528579" rel="stylesheet">
    <link href="plugin/jquerygrowl-notification/colored-theme.min.css?v=1716528579" rel="stylesheet">
    <link href="inspinia/css/animate.css?v=1716528579" rel="stylesheet">
    <link href="inspinia/css/style.css?v=1716528579" rel="stylesheet">

    <!-- user css -->
    <link href="css/common.css?v=1716528579" rel="stylesheet">
    <link href="css/denb.css?v=1716528579" rel="stylesheet">
    <link href="assets/fonts/fontawesome/css/fontawesome-all.min.css?v=1716528579" rel="stylesheet">
    <link href="assets/fonts/simple-line-icons/css/simple-line-icons.css?v=1716528579" rel="stylesheet">
    <link href="inspinia/font-awesome/css/font-awesome.css?v=1716528579" rel="stylesheet">

    <!-- js -->
    <!-- 브라우저 판단 -->
    <script src="plugin/anti-selfish-browser/Browser.js"></script>
    <script src="plugin/anti-selfish-browser/anti-selfish-browser.js"></script>

    <!-- jquery -->
    <script src="inspinia/js/jquery-3.1.1.min.js?v=1716528579"></script>
    <script src="js/common.js?v=1716528579"></script>
    <script src="inspinia/js/plugins/sweetalert/sweetalert.min.js?v=1716528579"></script>

    <!-- sound -->
    <audio id="audio" src="img/notify.wav"></audio>
</head>

<body class="  bg-light" >
<style>
    .page__content {
        padding: 70px 0px 0px 0px;
    }
</style>
<link href="inspinia/css/plugins/slick/slick.css" rel="stylesheet">
<link href="inspinia/css/plugins/slick/slick-theme.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="../plugin/datetimepicker/jquery.datetimepicker.css" />

<div class="body-overlay"></div>
<!-- Left panel -->
<div id="panel-left"></div>
<!-- Right panel -->
<div id="panel-right"></div>
<!-- Social Icons Popup -->
<div id="popup-social"></div>
<!-- Alert -->
<div id="popup-alert"></div>
<div class="page">
    <!-- HEADER -->
    <header class="header header--page header--fixed bg-white border-bottom">
        <div class="header__inner">
            <div class="header__icon header__icon--menu open-panel">
                <a type="button" href="patient_mypage3.html" class="btn btn-success hei-30 w-20"><i class="fa fa-chevron-left"></i> 마이비서</a>
                <!-- <a class="p-lg minw-50 text-dark" data-toggle="" href="patient_mypage.php" aria-expanded="false">
                    <i class="fa fa-chevron-left"></i>
                </a> -->
            </div>
            <div class="h5 no-margins text-dark">자료실</div>
            <div class="header__icon open-panel" data-panel="right"></div>
        </div>
    </header>
    <!-- PAGE CONTENT -->
    <div class="page__content page__content--with-header page__content--with-bottom-nav">
        <div class="container">
            <center>
                <h3>최지우 님 안녕하세요</h3>
            </center>
            <div class="py-1xxx">
                                    <h2 class="font-normal text-center">
                                            </h2>
<style>
   
    .user_auth_overlay {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        z-index: 200000;
    }

    .user_auth_modal {
        display: none;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #fff;
        padding: 50px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        z-index: 200001;        
    }

    .user_auth_close-btn1 {
        cursor: pointer;
        font-size: 20px;
        position: absolute;
        top: 10px;
        left: 10px;
    }
    .user_auth_close-btn2 {
        cursor: pointer;
        font-size: 20px;
        position: absolute;
        top: 10px;
        right: 10px;        
    }

    .warning-container {
            text-align: center;
            padding: 20px;
            background-color: #fff;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

</style>
<div class="warning-container">
        <!-- <h1>경고!</h1>-->
        <p>본 기능은 본인인증이 필요합니다.</p>
        <br/>
        <p><font color=red><인증유효기간은 15분입니다.></font></p>
</div>
<div>
    <br/>
    <p>
    <div style="width:100%;text-align:center;">
    <input type="button" class="btn btn-success hei-30 w-20" style="width:200px;" onclick="user_auth_01('patient/patient_mypage_sub.php?v=patient_mypage_file', 1);" value="인증하기"/></div>
    </p>
    <!--
    <br/>
    <p>
    <div style="width:100%;text-align:center;"><input type="button" style="width:200px;" onclick="window.history(-1);" value="이전페이지오동"/></div>
    </p>-->
</div>
<div class="user_auth_overlay" id="user_auth_overlay" onclick="close_user_auth_modal()"></div>
<div class="user_auth_modal" id="user_auth_modal">
    <div style='border-bottom: 2px solid #eee;margin-left:-40px;margin-right:-40px;'>
        <span class="user_auth_close-btn1">본인인증</span> <span class="user_auth_close-btn2" onclick="close_user_auth_modal()">&times;</span>
    </div>
    <br/> 
    <h3><유효시간></h2>
    <p>
        <table>
            <!--
            <tr>
                <td><input type="radio" id="open_user_auth_type_1" name="open_user_auth_type" value="1" style='width:30px;height:30px;'/></td>
                <td>1차유효</td>
            </tr>
-->
            <tr>
                <td><input type="radio" id="open_user_auth_type_2" name="open_user_auth_type" value="300" style='width:30px;height:30px;'/></td>
                <td>5분유효</td>
            </tr>
            <tr>
                <td><input type="radio" id="open_user_auth_type_3" name="open_user_auth_type" value="600" style='width:30px;height:30px;'/></td>
                <td>10분유효</td>
            </tr>
            <tr>
                <td><input type="radio" id="open_user_auth_type_4" name="open_user_auth_type" value="900" style='width:30px;height:30px;'/></td>
                <td>30분유효</td>
            </tr>            
        </table>
    </p>
    <br/> 
    <div style='border-bottom: 2px solid #eee;margin-left:-40px;margin-right:-40px;'>    
    </div>
    <br/> 
    <div style="width:100%;text-align:center;"><input type="button" id="open_user_auth_submit" name="open_user_auth_submit" value="인증"/></div>
</div>
<script src="https://cert.mobile-ok.com/resources/js/index.js"></script>
<script>
function isMobileDevice() {
        return /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent);
}  
function open_user_auth_modal(callback, link, fun_code)
{
    document.getElementById('user_auth_overlay').style.display = 'block';
    document.getElementById('user_auth_modal').style.display = 'block';
    //callback(link);
    $('#open_user_auth_submit').click(function(){
        var open_user_auth_type = $('input[name="open_user_auth_type"]:checked').val();
        callback(link, open_user_auth_type, fun_code);
    });
}

function close_user_auth_modal()
{
    document.getElementById('user_auth_overlay').style.display = 'none';
    document.getElementById('user_auth_modal').style.display = 'none';
}
//>>>>>>>>>>>>>>>>>>>>>>>>>>>>> 인증부분
function user_auth_01(link, fun_code)
{
    //팝업창용 open_user_auth_modal(user_auth_callback, link, fun_code);
    //alert('d11');

    user_auth_callback(link, 900, fun_code)
}

var call_link = "";
function user_auth_callback(link, type, fun_code)
{
    //alert('d11');
    call_link = link;
    var param = get_user_auth_param('1', '1427795', type, fun_code);
    var url = "api/user_auth/mok3.0/auth_request.php?"+param+"&next_url="+encodeURIComponent(link);
//alert(url);
    if (isMobileDevice()) {
        url = url+"&is_mobile=Y";
        //console.log("mobile");
        MOBILEOK.process(url, "WB", "");
    } else {
        //console.log("pc");
        MOBILEOK.process(url, "WB", "user_auth_mok_result");
    }
}


function user_auth_mok_result(data)
{
    //console.log(data);
    var result = JSON.parse(data);
    if(result.status=="success")
    {
        document.location.href=call_link;
    }
    else
    {
        alert(result.msg);
    }
}

function get_user_auth_param(dentist_idx, patient_idx, type, fun_code)
{
    return "dentist_idx="+dentist_idx+"&patient_idx="+patient_idx+"&type="+type+"&fun_code="+fun_code;
}
//<<<<<<<<<<<<<<<<<<<<<<<<<<<<< 인증부분
</script>
